<!-- BOOTSTRAP -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"></div>
        <img src="banniere.jpg" width="100%" height="120px" />
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-12">
            <h3>FORMULAIRE D'INSCRIPTION</h3>
            <br/>
            <label for="nom">Nom</label>
            <input id="nom" type="text" class="saisie" placeholder="Rho le blaze" maxlength="30" size="30">
            <br/>
            <label for="email1">Adresse mail</label>
            <input id="email1" type="email" class="saisie" placeholder="Fais péter ton adresse">
            <br/>
            <label for="email2">Confirmation Adresse mail</label>
            <input id="email2" type="email" class="saisie" placeholder="Vazy fais péter ton adresse gros...">
            <br/>
            <label for="mdp1">Mot de passe</label>
            <input id="mdp1" type="password" class="saisie" placeholder="Donne le mot ..." minlength="6" maxlength="10">
            <br/>
            <label for="mdp2">Confirmation mot de passe</label>
            <input id="mdp2" type="password" class="saisie" placeholder="C'est quoi le mot ???" minlength="6" maxlength="10">
            <br/>
            <button type="button" role="button" id="valider" class="btn btn-info">Valider</button>
        </div>
    </div>
</div>
</body>
<script src="js/page1.js"></script>
</html>

<!-- ###### INCOMPLET / ERREUR / ERROR ###### -->
<!-- ###### PB DEPENDANCES SEMANTIC UI ###### -->
<!-- SEMANTIC UI -->
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
<!-- <meta charset="UTF-8"> -->
<!-- <title>Title</title> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
<!-- Sources SEMANTIC UI -->
<!-- <link rel="stylesheet" href="webjars/Semantic-UI/2.4.1/semantic.min.css" -->
<!-- th:href="@{/webjars/Semantic-UI/2.4.1/semantic.min.css}"/> -->
<!-- <script src="webjars/jquery/3.3.1-1/jquery.js" -->
<!-- th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script> -->

<!-- <script src="webjars/Semantic-UI/2.4.1/semantic.min.js" -->
<!-- th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script> -->
<!-- <script src="webjars/tinymce/4.7.9/tinymce.min.js" -->
<!-- th:src="@{/webjars/tinymce/4.7.9/tinymce.min.js}"></script>		 -->
<!-- </head> -->
<!-- <body> -->
<!-- <div class="ui container"> -->
<!-- <div class="ui form"> -->
<!-- <div class="five fields"> -->
<!-- <div class="field"> -->
<!-- <label>Nom</label> -->
<!-- <input type="text" id="nom" class="saisie" placeholder="nom"> -->
<!-- </div> -->
<!-- <div class="field"> -->
<!-- <label>Email</label> -->
<!-- <input type="text" id="email1" class="saisie" placeholder="email1"> -->
<!-- </div> -->
<!-- <div class="field"> -->
<!-- <label>Confirmation email</label> -->
<!-- <input type="text" id="email2" class="saisie" placeholder="email2"> -->
<!-- </div> -->
<!-- <div class="field"> -->
<!-- <label>Mot de passe</label> -->
<!-- <input type="text" id="mdp1" class="saisie" placeholder="mdp1"> -->
<!-- </div> -->
<!-- <div class="field"> -->
<!-- <label>Confirmation mot de passe</label> -->
<!-- <input type="text" id="mdp2" class="saisie" placeholder="mdp2"> -->
<!-- </div> -->

<!-- <div class="ui submit button">Valider</div> -->
<!-- <button class="ui primary button">Valider</button> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div>	 -->
<!-- </body> -->
<!-- <script src="js/page1.js"></script> -->
<!-- </html> -->