<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <div th:replace="fragments/layout :: header-css">

    </div>
</head>
<body>
<div th:include="fragments/layout :: header-page">
</div>

<h2 class="ui dividing">Fiche signalétique</h2>
<form action="#" class="ui form" id="film-form" method="post" th:action="@{/film/add}" th:object="${film}">
    <input th:field="${film.id}" type="hidden">
    <input th:field="${film.imagePath}" type="hidden">
    <div class="field">
        <label>Titre</label>
        <input th:field="${film.title}" type="text">
    </div>
    <div class="three fields">
        <div class="two wide field">
            <label>Notation</label>
            <input th:field="*{rating}" type="number">
        </div>
        <div class="four wide field">
            <label>Date de sortie</label>
            <input th:field="*{releaseDate}" type="date">
        </div>
        <div class="ten wide field">
            <label>Réalisateur</label>
            <select th:field="${film.director}" class="ui search dropdown">
                <option
                        th:each="person: ${persons}"
                        th:text="${person.place_of_birth}+' '+${person.surname}"
                        th:value="${person.id}">
                    Prénom Nom
                </option>
            </select>
        </div>
    </div>
    <div class="field">

        <label>Genres</label>
        <select class="ui fluid dropdown" multiple="" th:field="*{genres}" th:onchange="'onChangeGenre('+${film.id}+')'">
            <option
                    th:each="genre: ${genresFilm}"
                    th:text="${genre.name}"
                    th:value="${genre.id}">
                Drame
            </option>
        </select>
    </div>
    <div class="field">
        <label>Résumé</label>
        <textarea form="film-form" rows="5" th:field="*{summary}"></textarea>
    </div>
    <input class="ui green button" type="submit" value="Valider">
    <!--onclick="addFilm()-->
</form>

<!--castigggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg-->

<h2 class="ui dividing header">Casting</h2>

<form class="ui form"
      method="post"
      th:action="@{'/film/modrole/'+${play.id}}"
      th:each="play: ${film.roles}"
      th:object="${play}">
    <input id="film" name="film" th:value="${film.id}" type="hidden">

    <div class="four fields">
        <div class="five wide field">
            <label>Acteur</label>
            <select name="actor" th:value="*{actor.id}" class="ui search dropdown">
                <option
                        th:each="person: ${persons}"
                        th:selected="${person.id == play.actor.id}"
                        th:text="${person.place_of_birth}+' '+${person.surname}"
                        th:value="${person.id}">
                    Prénom Nom
                </option>
            </select>
        </div>
        <div class="six wide field">
            <label>Rôle</label>
            <input name="name" th:value="*{name}" type="text">
        </div>
        <div class="two wide field">
            <label>Rang</label>
            <input name="rank" th:value="*{rank}" type="number">
        </div>
        <div class="three wide field">
            <label>&nbsp;</label>


            <button type="submit" class="circular ui green icon button">
                    <i class="white check icon icon"></i>
                </button>

                <a  href="#" th:href="@{'/film/rmrole/'+ *{id}}" class="circular ui icon red button">
                    <!--onClick="javascript:return confirm('Voulez-vous vraiment deleteByUser cet élément ?')"-->
                    <i  class="white close icon icon"></i>
                </a>

        </div>
    </div>
</form>
<!--333333333333333333333333333 role 333333333333333333333333333333333333333333333333333
33333333333333333333333333333333333333333333333333333333333333333333333333333333333
333333333333333333333333333333333333333333333333333333333333333333333333333333333-->


<!--verification de suppression-->
<div  id="supp" class="ui modal">
    <div class="ui red header">Attention! </div>
    <div class="content">
        <p>Êtes-vous sûr de vouloir supprimer ce genre   </p>
    </div>
    <!--<div class="actions">-->
    <!--<div class="ui positive right labeled icon button" onclick="eraseGenre()" >oui<i class="checkmark icon"></i></div>-->
    <!--<div class="ui negative right labeled icon button" >Non<i class="close icon"></i></div>-->
    <!--&lt;!&ndash;<div class="ui minus button" onclick="exitDialog()">Cancel</div>&ndash;&gt;-->
    <!--</div>-->
    <div class="actions">
        <!--<div class="ui approve labeled icon button" onclick="eraseGenre()">Oh oui<i class="checkmark green icon"></i></div>-->
        <div class="ui green approve right labeled icon button" onclick="eraseGenre()">oui<i class="checkmark icon"></i></div>
        <!--<div class="ui button">Fuck, pas besoin de ce bouton!</div>-->
        <div class="ui red cancel right labeled icon button" onclick="exitDialog()">Non<i class="close icon"></i></div>
    </div>
</div>

<form action="#" class="ui form" method="post" th:action="@{/film/addrole}" th:object="${newrole}">
    <input id="film" name="film" th:value="${film.id}" type="hidden">
    <div class="four fields">
        <div class="five wide field">
            <label>Acteur</label>
            <select name="actor" class="ui search dropdown">
                <option value="" selected disabled>Choisissez un acteur</option>
                <option
                        th:each="person: ${persons}"
                        th:text="${person.place_of_birth}+' '+${person.surname}"
                        th:value="${person.id}">
                    Prénom Nom
                </option>
            </select>
        </div>
        <div class="six wide field">
            <label>Rôle</label>
            <input name="name" th:value="*{name}" type="text">
        </div>
        <div class="two wide field">
            <label>Rang</label>
            <input name="rank" th:value="*{rank}" type="number">
        </div>


        <div class="three wide field">
            <label>&nbsp;</label>
            <button type="submit" class="circular ui green icon button ">
                <i class="white plus icon"></i>
            </button><!--xxxx-->
        </div>
    </div>
</form>



<div th:include="fragments/layout :: footer-js"></div>

<script type="application/javascript">
    $('#menu-films').addClass("active");
    $('.ui.dropdown').dropdown();
    $('#supp').modal('hide');
    $(document).ready(function () {
        tinymce.init({
            selector: '#summary'
        });
    })
    function onChangeGenre(idFilm) {
        alert("le changement \n pour le film" +idFilm+ "\n et les genres: " +$("#genres").val())
    }


</script>
</body>
</html>