<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title>recherche film</title>
    <div th:replace="fragments/layout :: header-css"></div>
</head>

<body>
<h1>Recherche d'un Film</h1>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<form action="/logout" method="post"><input type="hidden" name="_csrf" value="334a999a-7aa8-40e9-bf44-30bbbf905c43">
    <input type="submit" value="Sign Out">
</form>
<button id="reset">Reset »</button>
</h2>
<div th:include="fragments/layout :: header-page"></div>
<!--<h3>Important Link - <a href="http://www.yogihosting.com/jquery-ajax/">jQuery AJAX</a></h3>-->
<div class="container">
    <div id="apiDiv">
        <h4>Entrez le titre d'un film </h4>
        <input type="text" id="searchInput" placeholder="Recherche Film"/>
        <button id="submit">Recherche</button>

        <div id="message">
        </div>
    </div>
    <ul id="pagination"></ul>
</div>
<style type="text/css">


</style>
<!-- Modal HTML -->
<div id="monModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h4>Génial!</h4>
                <p>Votre film a été importé!!!</p>
                <a class="btn btn-success" id="boutonSucces"><span>voir le film</span> <i class="material-icons">&#xE5C8;</i></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitleH4"></h4>
            </div>
            <div class="modal-body" id="modalBodyDiv">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="ajout-film" class="btn btn-success"
                        data-loading-text="<i class='fa fa-spinner fa-spin '></i>">Ajouter à ma liste de film
                </button>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/layout :: footer-js"></div>
</body>
</html>
